.box-content--x:hover {
  background-color: rgba(37, 37, 37, 0.075);
  border-radius: 4px;
  cursor: default;
}

.selected-file {
  background-color: rgba(0, 183, 255, 0.296);
  border-radius: 4px;
  cursor: default;
}
